container{
    max-width: 600px;
    margin: 0 auto;
    padding: 0 2%;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    
    }
    .h2{
    text-size-adjust: 42px;
    }
    header{
    padding: 8px 0;
    background-color:white;
    height: 100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
  
    header{
      padding: 8px 0;
      background-color: #068688;
      height: 70px;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
  
  
    
    .logo{
    float: inline-start;  
    }
    .logo h2{
    
    font-weight: normal;
    font-size: 35px;
    display: inline-block;
    text-align: left;
    justify-items: left ;
    
    }
    .logo img{
    width: 72px;
    align-items: center;
    text-align: center;
    margin-left: -60%;
    
    }
    .logo a{
    color:#ffffff;
    text-decoration: none;
    }
  
   .mt-0.mb-1{
    font-size: 35px;
    color:#bd3e4fbe;
   }
  
    .media-body{ 
      font-size: 25px;
  
    }
  
    .container h1{
        font-size: 80px;
        font-weight: normal;
        color: #cf9364;
    }
  
    
    body {
      margin: 0;
      font-family: Open-sans, sans-serif;
      
    }
    h1, h2, h3 {
      font-family: Raleway, Helvetica, sans-serif;
    }
    h2 {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 30px;
      margin-top: 0;
    }
  
  
  
  #linha-vertical {
      height: 600px;
       border-left: 3px solid rgba(150, 144, 144, 0.758);
      
       position: absolute;
       left: 70%;
  
    }
  
    .banner{
      margin-left: 73%;
      margin-top: -30%;
      
    }
  
    
  .banner h2{
    font-size: 28px;
    font-weight: normal;
    color:rgba(235, 96, 15, 0.47); 
    
  }
  
  .video{
    margin-left: 5%;
  }
  
  h1{
    margin-left: 5%;
    color: rgba(235, 96, 15, 0.451); 
  }
  
    .b{
      color: #068688;
      margin-left: 75%;
      margin-top: -180%;
      height: 50px;
      width: 160px;
      font-size: 15px;
    }
  
    .form{
      margin-left: 60%;
      margin-top: -20%;
    }
  
    .lado{
      margin-left: 5%;
    }
  
    .ha{
      font-size: 28px;
      font-weight: normal;
      color:rgba(235, 96, 15, 0.47); 
    }
  
    .k {
      font-size: 140%;
    }
  
    #linha-vertical2 {
      height: 600px;
       border-left: 3px solid rgba(150, 144, 144, 0.758);
      
       position: absolute;
       left: 50%;
  
    }

     .caixa{
             margin-right: 200px;
             margin-left: 200px;
             font-size: 150%;

        }



.topnav{
    margin-left: 78%;
    margin-top: -50px;
    
    
}

.topnav a {

  float: left;

  display: block;

  color: black;

  text-align: center;

  padding: 14px 16px;

  text-decoration: none;

  font-size: 17px;

}

.topnav input[type=text] {

  float: right;

  padding: 6px;

  border: none;

  margin-top: 0px;

  margin-right: 16px;

  font-size: 27px;

  color: #068688;

}






.topnav2{
 
  margin-top: -50px;

  margin-right: 550px;
  
  
}

.topnav2 a {

float: left;

display: block;

color: black;

text-align: center;

padding: 14px 16px;

text-decoration: none;

font-size: 17px;

}

.topnav2 input[type=text] {

float: right;

padding: 6px;

border: none;

text-align: center;

font-size: 27px;

width: 500px;

color: #068688;

}

.topnav2 input[type=text] {
  border: 2px solid #068688;
}
.lupa{
  margin-right: -500px ;
}



nav.menu-desktop{
  float: right;
  margin-right: -450px;
}



nav.menu-desktop ul{

  position: relative;

  top: 8px;

}



nav.menu-desktop li{

  padding: 0 10px;

  font-weight: lighter;

  display: inline-block;

}

nav.menu-desktop a{

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  color: #cf9364;

  font-size: 22px;

  margin-right: 30px;

  text-decoration: none;

}

nav.menu-desktop a:hover{

  text-decoration: underline;

}

.candidatar{
  float: right;
}




:root {
  --cor-fundo: rgb(34, 41, 37);
  --cor-hover: rgb(118, 180, 145);
  --cor-primaria: rgb(231, 241, 236);
}

.dp-menu ul {
  list-style-type: none;
  padding: 0;
}

.dp-menu ul {
  background-color: var(--cor-fundo);
}

.dp-menu ul li {
  display: inline;
  position: relative;
}

.dp-menu ul li a {
  color: var(--cor-primaria);
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  transition: background .3s;
}

.dp-menu ul li a:hover {
  background-color: var(--cor-hover);
}


/*sub menu*/
.dp-menu ul ul {
  display: none;
  left: 0;
  position: absolute;
}

.dp-menu ul li:hover ul {
  display: block;
}

.dp-menu ul ul {
  width: 150px
}

.dp-menu ul ul li a {
  display: block;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}














* {
    box-sizing: border-box;
    font-family: "Inter var", sans-serif;
    font-size: 16px;
    font-weight: 400;
    user-select: none;
    transition: all 200ms ease;

    &:focus {
        outline: none;
    }
}




/* page number    */
.hide {
    display: none;
    visibility: hidden;
    height: 0;
}

.pagination\:container {
  display: flex;
  align-items: center;
}


.pagination\:number {
  --size: 32px;
  --margin: 6px;
  margin: 0 var(--margin);
  border-radius: 6px;
  background: #202020;
  color: #f2f2f2;
  max-width: auto;
  min-width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 6px;
}

.pagination\:active {
  background: lighten(#202020, 3%);
  position: relative;
}









:root{
  --main-color1: #eb4d4b;
  --text-color: #131e2c;
}
.product-grid{
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
.product-grid .product-image{ position: relative; }
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
  width: 100%;
  height: auto;
}
.product-image .pic-1{
  opacity: 1;
  backface-visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.product-grid:hover .product-image .pic-1{ opacity: 0; }
.product-image .pic-2{
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.product-grid:hover .product-image .pic-2{ opacity: 1; }
.product-grid .product-sale-label,
.product-grid .product-discount-label{
  color: #fff;
  background: #da5555;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 14px;
  padding: 5px 11px;
  border-radius: 12px;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 0.4s ease;
}
.product-grid .product-sale-label{
  background: #2ba968;
  text-transform: uppercase;
  left: 10px;
  right: auto;
}
.product-grid .product-content{ padding: 12px; }
.product-grid .rating{
  padding: 0;
  margin: 0 0 7px;
  list-style: none;
}
.product-grid .rating li{
  color: var(--text-color);
  font-size: 12px;
  display: inline-block;
}
.product-grid .rating li.disable{ color: rgba(0,0,0,.20); }
.product-grid .title{
  color: var(--text-color);
  font-size: 20px;
  text-transform: capitalize;
  margin: 0 0 7px;
}
.product-grid .title a{
  color: var(--text-color);
  transition: all 500ms;
}
.product-grid .title a:hover{ color: var(--main-color1); }
.product-grid .price{
  color: var(--text-color);
  font-size: 18px;
  letter-spacing: 0.005em;
  margin-bottom: 10px;
}
.product-grid .price span{
  color: #a7a7a7;
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
}
.product-grid .product-button-group{
  position: relative;
  z-index: 1;
}
.product-grid .add-to-cart{
  color: var(--text-color);
  background: #f4f4f4;
  font-size: 14px;
  width: calc(100% - 75px);
  padding: 8px 3px;
  margin: 0 auto;
  display: inline-block;
  transition: all 0.25s ease 0s;
}
.product-grid .add-to-cart i{
  margin-right: 8px;
  display: none;
  visibility: hidden;
  transition: all 0.25s ease 0s;
}
.product-grid:hover .add-to-cart{
  color:#fff;
  background: var(--text-color);
}
.product-grid:hover .add-to-cart i{
  display: inline-block;
  visibility: visible;
}
.product-grid .product-like-icon,
.product-grid .product-compare-icon{
  color: var(--text-color);
  background: #f4f4f4;
  line-height: 34px;
  width: 34px;
  height: 34px;
  opacity: 0;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 50px;
  z-index: -1;
  transition: all 0.25s ease 0s;
}
.product-grid .product-compare-icon{
  left: auto;
  right: 50px;
}
.product-grid:hover .product-like-icon{
  opacity: 1;
  left: 0;
}
.product-grid:hover .product-compare-icon{
  opacity: 1;
  right: 0;
}
@media only screen and (max-width:990px){
  .product-grid{ margin-bottom: 30px; }
}
License Terms